# Dependencies
node_modules/
dist/
build/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Sensitive Data
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS Metadata
.DS_Store
Thumbs.db